<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>개인맞춤형 주식 알림 시스템</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>개인맞춤형 주식 알림 시스템</h1>
    <br>
    <h2>주식 종목코드 입력</h2>
    <form action="/gps" method="post">
      <div>종목코드 <br/><input type="text" name="latitude" value=""></div><br/>
      <br/>
      <div><input type="submit" value="Submit"></div>
  </body>
</html>
